.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    justify-content: space-between;
}

.content {
}
