.main-nav__container {
    margin-bottom: 8px;
}

.menu-item {
    display: flex;
    align-items: center;
    padding: 8px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 4px;
    color: var(--text-color);
    transition: background-color ease-in-out 200ms;

    &.active {
        color: var(--primary);

        .icon {
            display: none;
        }

        .icon-active {
            display: flex;
        }
    }

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
    }
}

.title {
    margin-left: 8px;
    line-height: 25px;
}

.icon,
.icon-active {
    display: flex;
}

.icon-active {
    display: none;
}
