.DivMainContainer {
    margin-right: 16px;
    margin-left: 16px;
    width: 692px;
    max-width: 692px;
    padding: 24px 0px;
    position: relative;
    min-height: 1000px;
}

.wrapper {
    position: relative;
}
