.wrapper {
    .DivContentContainer {
        margin-left: 12px;
        width: 624px;
    }
    .container-item {
        padding: 20px 0;
        display: flex;
        align-items: flex-start;
        position: relative;
        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 1px;
            -webkit-transform: scaleY(0.5);
            -moz-transform: scaleY(0.5);
            -ms-transform: scaleY(0.5);
            transform: scaleY(0.5);
            background: rgba(22, 24, 35, 0.2);
        }
    }
    .avatar {
        height: 56px;
        width: 56px;
        display: inline-block;
        box-sizing: border-box;
        overflow: hidden;
        color: #fff;
        white-space: nowrap;
        text-align: center;
        vertical-align: middle;
        line-height: 32px;
        border-radius: 50%;
        background-color: rgba(136, 136, 136, 0.5);
        border-color: rgba(22, 24, 35, 0.12);
        border-width: 0.5px;
        cursor: pointer;
    }
    .icon-check {
        width: 24px !important;
        height: 24px !important;
    }

    .container-item--info {
        margin-right: 114px;
    }

    .container-item--nickname {
        font-family: SofiaPro;
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        display: inline-block;
        margin-right: 4px;
    }

    .container-item--bio {
        font-family: ProximaNova;
        font-weight: 400;
        font-size: 14px;
        display: inline-block;
        line-height: 28px;
    }

    .description {
        font-family: ProximaNova;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
    }

    .text-description {
    }

    .hastag-description {
        display: inline-block;
        font-weight: 600;
        color: rgb(22, 24, 35);

        &:hover {
            text-decoration: underline;
            text-decoration-color: rgb(22, 24, 35);
        }
    }

    .format-media--icon {
        transform: translateY(4px);
        margin-right: 5px;
    }

    .format-media--container {
        margin-top: 4px;
        margin-bottom: 12px;
    }

    .format-media {
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;

        &:hover {
            cursor: pointer;
            text-decoration: underline;
        }
    }
}

.DivVideoWrapper {
    display: flex;
}

.wrapper-video-play {
    height: calc(450px + (100vw - 768px) / 1152 * 100);
    position: relative;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    border-radius: 8px;
    overflow: hidden;
    margin-right: 20px;
    user-select: none;
    .video-card--container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;

        &:hover .video-controls-statePlaying,
        &:hover .video-controls-volume,
        &:hover .video-report {
            opacity: 1;
        }
    }

    .thumb-video {
        background-color: black;
        height: 100%;
        width: 100%;
    }

    .video-play {
        height: 100%;
        width: 100%;
        background-color: black;
        object-fit: cover;
        opacity: 0;
    }

    .onload {
        opacity: 1 !important;
    }

    .canvas {
        display: block;
        visibility: hidden;
        height: 100%;
        width: 100%;
    }

    .video-play--container {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }

    .video-report {
        color: rgba(255, 255, 255, 1);
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        right: 16px;
        position: absolute;
        top: 24px;
        -webkit-transition: opacity 0.3s;
        transition: opacity 0.3s;
        opacity: 0;
    }

    .video-controls-statePlaying {
        position: absolute;
        left: 12px;
        bottom: 26px;
        padding: 10px;
        width: 40px;
        height: 40px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .video-controls-volume {
        position: absolute;
        bottom: 26px;
        left: unset;
        right: 12px;
        display: flex;
        align-items: center;
        transform: rotate(90deg);
        transform-origin: calc(100% - 20px);
        opacity: 0;
        transition: opacity 0.3s;

        &:hover .sound-controls {
            display: flex;
        }
    }

    .video-sound {
        padding: 8px;
        width: 40px;
        height: 40px;
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    .sound-controls {
        width: 68px;
        height: 30px;
        position: relative;
        padding: 0 10px;
        background-color: transparent;
        display: none;
        align-items: center;
        transform: rotate(180deg);
    }

    .sound-controls-circle {
        width: 12px;
        height: 12px;
        background-color: rgb(255, 255, 255);
        border-radius: 12px;
        position: absolute;
        left: 14.3px;
        bottom: 51px;
        cursor: pointer;
        z-index: 1;
    }

    .input-volume {
        -webkit-appearance: none;
        height: 2px;
        position: absolute;
        right: 10px;
        width: 48px;
        opacity: 0;
        &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 12px;
            height: 12px;
            color: #fff;
            background-color: #fff;
            border-radius: 50%;
            cursor: pointer;
        }
    }

    .sound-bar-range {
        background-color: #fff;
        border-radius: inherit;
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
    }

    .volume-bar {
        position: relative;
    }

    .background-sound-controls {
        background-color: hsla(0, 0%, 100%, 0.34);
        border-radius: 100px;
        height: 2px;
        position: relative;
        width: 100%;
    }

    .sound-bar-dot {
        background-color: inherit;
        border-radius: 50%;
        height: 12px;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translate(100%, -50%);
        width: 12px;
    }
}

.video-action--wrapper {
    display: flex;
    flex-direction: column-reverse;

    .video-action-btn {
        border: none;
        background: none;
        outline: none;
        padding: 0px;
        position: relative;
        display: flex;
        -webkit-box-align: center;
        align-items: center;
        cursor: pointer;
        flex-direction: column;
    }

    .video-action-icon {
        display: flex;
        -webkit-box-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        align-items: center;
        width: 48px;
        height: 48px;
        font-size: 0px;
        border-radius: 50%;
        transition: all 200ms ease-in-out 0s;
        background-color: rgba(22, 24, 35, 0.06);
        margin-top: 8px;
        margin-bottom: 6px;
        &:active {
            background-color: rgba(22, 24, 35, 0.14);
        }
    }

    .video-action-count {
        color: rgba(22, 24, 35, 0.75);
        font-size: 12px;
        line-height: 17px;
        text-align: center;
    }
}
