.wrapper-search {
    background: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    max-height: min(100vh - 96px - 60px, 734px);
    min-height: 500px;
    padding: 8px 0px;
    left: 38px;
    position: absolute;
    top: 53px;
    width: 100%;
    user-select: none;
}

.wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    padding-top: 8px;
    border-radius: 8px;
    box-shadow: rgb(0 0 0 / 12%) 0px 4px 16px;
    background: rgb(255, 255, 255);
    min-width: 223px;
    position: relative;
    user-select: none;
}
