.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    top: 0;
    background: rgba(255, 255, 255, 1);
}

.inner {
    height: 100%;
    width: 100%;
    max-width: var(--default-layout-width);
    display: flex;
    align-items: center;
    padding-right: 24px;
    padding-left: 20px;
    justify-content: space-between;
}

.logo {
    height: 42px;
}
