.wrapper {
    height: var(--default-layout-header-height);
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    width: 100%;
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
}
